@font-face {
    font-family:TEKRON;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family:clock;
    src: url(fonts/digital-7.ttf);
}

@font-face {
    font-family:font;
    src: url(fonts/VarelaRound-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content h2{
    font-family: TEKRON;
}
.content p{
    font-family: font;
}
.content a{
    color: rgb(255, 255, 255);
}




/* CSS FOR LANDING PAGE */
#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#landing-page img{
    margin-top: -20rem;
}







/* CSS FOR COUNTDOWN IN LANDING PAGE */
.countdown {
    font-size: clamp(2rem, 8vw, 8rem);
    letter-spacing: clamp(5px, 1.5vw, 15px);
    font-weight: bold;
    color: #ffffff;
    font-family: clock;
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    margin: -10rem auto 0;
}

@media (max-width: 768px) {
    .countdown {
        margin-top: -5rem;
    }
}

@media (max-width: 480px) {
    .countdown {
        margin-top: -3rem;
        letter-spacing: clamp(3px, 1vw, 5px);
    }
}





/* ABOUT US */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 50px 0;
}

.text-content {
    flex: 1;
    padding-left: 50px;
}

#about {
    font-size: 4rem;
    color: #bfbfbf;
    font-family: TEKRON;
}

.About {
    font-size: 1rem;
    line-height: 1.8;
    color: #bfbfbf;
    font-size: 1.2rem;
    font-family: font;
}

.image-container {
    flex: 0.5;
    text-align: center;
}

.image-container img {
    width: 200px; /* Adjust size */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .text-content {
        padding: 20px;
    }
}





/* CSS FOR INFINITE SLIDER FOR GALLERY BELOW */
.slider {
    --width: 400px;
    --height: 300px;
    --quantity: 9;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
    margin-bottom: 15rem;
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 15s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1) - 15s) !important;
}

.slider .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

/* .slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
} */

.slider[reverse="true"] .item {
    animation: reversePlay 15s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}





/* CSS FOR MEDIA SCREEN */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        align-items: center;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .logo-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}





/* CSS FOR POSTER IMAGES IN EVENT SECTION */
div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}









/* CSS FOR EVENTS SECTION */
#events {
    text-align: center;
    font-family: TEKRON;
    font-size: 4rem;
    padding: 2rem;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    width: 90%;
    max-width: 1500px;
    margin: auto;

}


.card {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c;
}

.card .image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: black;
    transition: transform 0.5s ease-in-out;
}

.card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(87, 84, 84, 0.8);
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    overflow-wrap: break-word;
}

.content h2 {
    font-size: 1.8em;
    margin: 0;
    color: #ff4a4a;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.content p {
    font-size: 0.9em;
    color: #ffffff;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-right: 15px;
}

.card:hover .image-box img {
    transform: scale(1.05);
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .content h2,
.card:hover .content p {
    opacity: 1;
    transform: translateY(0);
}


.btn {
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    Letter-spacing: 2px;
    font-size: 20px;
    Overflow: hidden;
    transition: 0.5s;
}

.btn:hover {
    background: #ff4a4a;
    ;
    color: #ffffff;
    box-shadow: 0 0 50px #ff4a4a;
    ;
    transition-delay: 0.5s;
}

.btn:before {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
    transition: 0.5s;
    transition-delay: 0.5s;
}


.btn:hover:before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.btn:hover:after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}






.mainlogo {
    width: 50vw; 
    height: auto;
    position: relative;
    top: 10%;
}

@media (max-width: 800px) {
    .mainlogo {
        width: 30vw;
    }
}

@media (max-width: 600px) {
    .mainlogo {
        width: 110vw;
    }
}

@media (max-width: 400px) {
    .mainlogo {
        width: 60vw;
    }
}

.countdown {
    font-size: clamp(2rem, 8vw, 8rem);
    letter-spacing: clamp(5px, 1.5vw, 15px);
    font-weight: bold;
    color: #ffffff;
    font-family: clock;
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    margin: -10rem auto 0;
}

@media (max-width: 768px) {
    .countdown {
        margin-top: -5rem;
    }
}

@media (max-width: 480px) {
    .countdown {
        margin-top: -3rem;
        letter-spacing: clamp(3px, 1vw, 5px);
    }
}


#GALLERY{
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 5rem;
    font-family: TEKRON;
    font-size: 4rem;
}


.footer{
    display: grid;
    color: white;
    padding: 30px 50px;
}
.footer-logo img {
    max-width: 180px;
}

.footer-links, .footer-contacts {
    text-align: left;
}
.bottom a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}





/* CSS FOR GALLERY SLIDER BELOW*/
.gallery {
    --width: 400px;
    --height: 300px;
    --quantity: 9;
}

.gallery {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
    margin-bottom: 8rem;
}

.gallery .list1 {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.gallery .list1 .item1 {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 15s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1) - 15s) !important;
}

.gallery .list1 .item1 img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.gallery[reverse="false"] .item1 {
    animation: reversePlay 15s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}

@keyframes logoRotation {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-45deg);
    }

    66% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(45deg);
    }
}

.about-logo {
    animation: logoRotation 6s infinite;
}

@media (max-width: 768px) {
    #gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

