@font-face {
    font-family: font;
    src: url(../../fonts/VarelaRound-Regular.ttf)
}
@font-face {
    font-family: tekron;
    src: url(../../fonts/Orbitron-VariableFont_wght.ttf)
}
html{
    background-image: url(../background.png);
    background-attachment: fixed;
}
.name{
    text-align: center;
    font-size: 4rem;
    font-family: tekron;
    margin: 20px;
}
*{
    background-color: whitesmoke;
    background: transparent;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules{
    width: 60% !important; 
    margin: auto;
    padding: 50px;
    font-family:font;
}

ul {
    list-style-type: disc !important;
    padding-left: 20px !important; /* Adjust as needed */
    margin-left: 20px !important;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

p{
    font-size: 20px;
}
li{
    font-size: 20px;
}



.poster img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.navig{
    background-color: rgba(0, 0, 0, 0.545);
    width: 100%;
}
.navig {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 70%);
    position: relative;
  }
  
  .navig::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(5px);
    z-index: -1;
  }


  .mail_anchor{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}


@media screen and (max-width: 768px){
    #rules{
        width: 90% !important;
    }
}

#contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Space between text and image */
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(120, 120, 120, 0.281);
    border-radius: 30px;
}

#contact {
    flex: 1;
    text-align: left;
    font-family: Arial, sans-serif;
}

#contact h1 {
    font-weight: bold;
    font-family: TEKRON;
    font-size: 3rem;
    color: #ffffff;
}

#contact h3 {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.5;
}

.mail_anchor p {
    font-size: 1.2rem;
    color: #f9f9f9;
    text-decoration: none;
}

#contsct-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

#contsct-img img {
    width: 100%;
    max-width: 400px; /* Adjust size as needed */
    height: auto;
}